<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
</head>
<body>
<div id="root">
<!--
<span>Checked names: {{ checkedNames }}</span>
<input type="checkbox" id="jack" value="Jackid2134" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
-->
	<tabs>
		<tab name="About Us" :selected="true"><!--v-bing 防止true为string类型-->
			<h1>About Us</h1>
		</tab>
		<tab name="About Out Culture">
			<h1>hrer about our culture</h1>
		</tab>
		<tab name="About Out version">
			<h1>here about our </h1>
		</tab>
	</tabs>
</div>

<script src="https://unpkg.com/vue@2.1.4/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>